@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p>Check the tutorial - <a href="https://www.yogihosting.com/blazor-webassembly-authentication-aspnet-core-identity/" target="_blank">Blazor WebAssembly Authentication with ASP.NET Core Identity</a></p>

